header {
  height: 95px;
  width: 100%; }
  @media (min-width: 376px) {
    header {
      border-top: #572EE5 4px solid; } }

.menuNavigation {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  @media (min-width: 376px) {
    .menuNavigation {
      margin-right: 10px; } }
  @media (min-width: 769px) {
    .menuNavigation {
      margin-right: 150px; } }

.menuNavigation_logo {
  position: relative;
  left: 10px;
  top: 5px;
  z-index: 2; }
  @media (min-width: 376px) {
    .menuNavigation_logo {
      left: 20px;
      top: 10px; } }

.menuNavigation_button {
  border: none;
  background: none;
  cursor: pointer;
  outline: none; }
  @media (min-width: 415px) {
    .menuNavigation_button {
      display: none; } }

.menuNavigation_button:active {
  transform: scale(1.1); }

.menuNavigation_list {
  float: right;
  margin: 0;
  position: absolute;
  top: 67px;
  list-style: none;
  height: 484px;
  left: 0;
  width: 100vw;
  box-sizing: border-box;
  z-index: 1;
  background: rgba(87, 46, 229, 0.9);
  font-family: 'Montserrat', sans-serif;
  overflow: hidden; }
  @media (min-width: 415px) {
    .menuNavigation_list {
      display: flex;
      flex-direction: row;
      background: none;
      justify-content: flex-end;
      top: 10px;
      left: 20px;
      margin-left: -90px;
      padding-right: -40px; } }
  @media (min-width: 769px) {
    .menuNavigation_list {
      display: flex;
      flex-direction: row;
      background: none;
      justify-content: flex-end;
      top: 20px;
      left: -50px;
      cursor: pointer;
      font-family: 'Montserrat-Bold', sans-serif;
      display: none; } }

.site-nav-open {
  height: 0; }

.menuNavigation_list li {
  padding: 10px 0; }
  @media (min-width: 769px) {
    .menuNavigation_list li {
      font-size: 13px;
      transform: translate(-100px, 0); } }

.menuNavigation_list li a {
  text-decoration: none;
  color: white;
  border-bottom: white 1px solid;
  padding-bottom: 10px;
  margin-left: 80px;
  font-size: 15px; }
  @media (min-width: 415px) {
    .menuNavigation_list li a {
      color: #572EE5;
      padding-left: 1px;
      margin-right: 30px;
      font-size: 13px; } }

.dark-mode {
  background-color: #37383C;
  color: #efefef;
  transition: background-color .2s; }

.myGif {
  display: none; }
  @media (min-width: 376px) {
    .myGif {
      display: block;
      margin-top: 5px; } }

@media (min-width: 769px) {
  .logoMobile {
    display: none; } }

.logoDesktop {
  display: none; }
  @media (min-width: 769px) {
    .logoDesktop {
      display: block;
      cursor: pointer; } }

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

#main {
  padding-bottom: 30px; }

.firstinfo h1 {
  font-family: 'Montserrat-Bold', sans-serif;
  font-size: 25px;
  color: #572EE5;
  text-align: center;
  letter-spacing: 0;
  line-height: 33px;
  margin-left: 40px;
  height: 99px;
  width: 286px;
  margin-top: -10px; }
  @media (min-width: 376px) {
    .firstinfo h1 {
      height: 100px;
      margin-left: 180px;
      margin-top: 20px;
      width: 414px; } }
  @media (min-width: 769px) {
    .firstinfo h1 {
      margin-left: 436px;
      margin-top: 13px;
      font-size: 35px;
      height: 100px;
      width: 580px; } }

.gifos {
  color: #50E3C2; }

.firstinfo img {
  height: 300px;
  width: 300px;
  margin-left: 40px;
  margin-top: -70px; }
  @media (min-width: 376px) {
    .firstinfo img {
      margin-left: 220px; } }
  @media (min-width: 769px) {
    .firstinfo img {
      margin-left: 550px;
      margin-top: -100px; } }

.searchicon {
  background-image: url("../assets/icon-search.svg");
  background-repeat: no-repeat;
  background-position: 290px 14px; }
  @media (min-width: 376px) {
    .searchicon {
      background-position: 350px 14px; } }
  @media (min-width: 769px) {
    .searchicon {
      background-position: 500px 14px; } }

#searchbar input {
  border: 1px solid #572EE5;
  border-radius: 27px;
  padding: 15px 0;
  width: 330px;
  transform: translate(20px, -82px); }
  @media (min-width: 376px) {
    #searchbar input {
      margin-left: 150px;
      width: 400px; } }
  @media (min-width: 769px) {
    #searchbar input {
      margin-left: 420px;
      width: 551px; } }

#searchbar input::placeholder {
  padding: 10px 0 10px 50px;
  font-family: 'Roboto-Regular', sans-serif;
  font-size: 16px;
  color: #6B7989; }

.dark-mode {
  background-color: #37383C;
  color: white;
  transition: background-color .2s; }

.trendingGif h3 {
  font-family: 'Montserrat-Bold', sans-serif;
  font-size: 16px;
  text-align: center;
  line-height: 25px;
  color: #572EE5;
  margin-top: -70px; }

.trendingGif p {
  font-family: 'Montserrat-Medium', sans-serif;
  font-size: 14px;
  color: #572EE5;
  text-align: center;
  line-height: 25px;
  height: 50px;
  width: 225px;
  margin-top: -10px;
  margin-left: 70px; }
  @media (min-width: 376px) {
    .trendingGif p {
      margin-left: 190px;
      width: 402px; } }
  @media (min-width: 769px) {
    .trendingGif p {
      margin-left: 520px; } }

.trendinginfo {
  height: 430px;
  width: 375px; }
  @media (min-width: 376px) {
    .trendinginfo {
      margin-left: 180px; } }
  @media (min-width: 769px) {
    .trendinginfo {
      width: 100%; } }

.trendinginfo h2 {
  font-family: 'Montserrat-Bold', sans-serif;
  font-size: 20px;
  color: #572EE5;
  text-align: center;
  line-height: 30px;
  margin-top: 0;
  padding-top: 50px; }
  @media (min-width: 769px) {
    .trendinginfo h2 {
      margin-left: -400px; } }

.trendinginfo p {
  font-family: 'Roboto-Regular', sans-serif;
  font-size: 16px;
  color: #000000;
  text-align: center;
  line-height: 23px;
  height: 46px;
  width: 333px;
  margin-bottom: 0; }
  @media (min-width: 376px) {
    .trendinginfo p {
      margin-left: 40px; } }
  @media (min-width: 769px) {
    .trendinginfo p {
      margin-left: 350px; } }

.gifodown::after {
  content: "\a";
  white-space: pre; }
  @media (min-width: 376px) {
    .gifodown::after {
      display: inline-block; } }

.day-modeTrending {
  background: #F3F5F8;
  transition: background-color .2s; }

.dark-modeTrending {
  background: #222326;
  color: white;
  transition: background-color .2s; }

.footercont {
  height: 180px;
  width: 375px;
  border-bottom: #572EE5 5px solid; }
  @media (min-width: 376px) {
    .footercont {
      margin-top: -20px;
      width: 768px;
      display: flex;
      justify-content: space-between;
      height: 130px; } }
  @media (min-width: 769px) {
    .footercont {
      width: 100%;
      height: 126px; } }

@media (min-width: 376px) {
  .iconsfoot {
    margin-left: 30px; } }
@media (min-width: 769px) {
  .iconsfoot {
    margin-left: 150px;
    margin-top: 13px; } }

.iconsfoot p {
  font-family: 'Roboto-Regular', sans-serif;
  font-size: 15px;
  color: #000000;
  letter-spacing: 0;
  text-align: center;
  padding-top: 50px;
  margin-top: 0px; }

.iconsfoot i {
  text-decoration: none;
  color: #CDD6E0;
  padding-top: 15px;
  transform: translate(150px, 0px);
  padding-right: 10px; }
  @media (min-width: 376px) {
    .iconsfoot i {
      transform: translate(120px, -45px); } }

.textFooter {
  font-family: 'Roboto-Regular', sans-serif;
  font-size: 14px;
  color: #000000;
  letter-spacing: 0;
  line-height: 20px;
  margin-left: 70px;
  padding-top: 30px; }
  @media (min-width: 376px) {
    .textFooter {
      margin-right: 30px; } }
  @media (min-width: 769px) {
    .textFooter {
      margin-right: 230px;
      margin-top: 13px; } }

@media (min-width: 376px) {
  .footercont .iconsfoot i:nth-child(2) {
    color: #572EE5; } }

/*# sourceMappingURL=main.css.map */
