* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  z-index: 1; }

.menuNavigation {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 95px;
  width: 100%; }
  @media (min-width: 376px) {
    .menuNavigation {
      margin-right: 10px;
      border-top: #572EE5 4px solid; } }
  @media (min-width: 769px) {
    .menuNavigation {
      margin-right: 150px; } }

.menuNavigation_logo {
  height: 48.8px;
  width: 48.8px;
  margin-left: 10px;
  margin-bottom: 30px; }
  @media (min-width: 376px) {
    .menuNavigation_logo {
      left: 20px;
      top: 10px; } }

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 40%;
  font-family: 'Montserrat-Bold', sans-serif; }

.nav-links li {
  list-style: none; }
  @media (min-width: 769px) {
    .nav-links li {
      text-transform: uppercase; } }

.nav-links a {
  text-decoration: none;
  letter-spacing: 3px;
  font-size: 13px;
  font-weight: bold; }
  @media (min-width: 769px) {
    .nav-links a {
      color: #572EE5; } }

@media (min-width: 769px) {
  .nav-links a:visited,
  .nav-active a:focus {
    text-decoration: none;
    color: #572EE5; } }

@media (min-width: 769px) {
  #day a:visited,
  #day a:focus {
    text-decoration: none;
    color: #572EE5; } }

.burger {
  display: none;
  cursor: pointer;
  margin-bottom: 30px; }

.burger div {
  width: 25px;
  height: 3px;
  background-color: #572EE5;
  margin: 5px;
  transition: all 0.3s ease; }

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden; }

  .nav-links {
    position: fixed;
    right: 0px;
    height: 484px;
    top: 8vh;
    background-color: rgba(87, 46, 229, 0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    justify-content: flex-start; }

  .nav-links li {
    margin-bottom: 10px;
    margin-top: 30px; }

  .nav-links a {
    color: white; }

  .nav-links a::after {
    content: "";
    display: block;
    height: 1px;
    width: 40px;
    background-color: #ffffff;
    margin: 10px auto;
    margin-top: 20px; }

  .burger {
    display: block; } }
.nav-active {
  transform: translateX(0%); }

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px); }
  to {
    opacity: 1;
    transform: translateX(0); } }
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px); }

.toggle .line2 {
  opacity: 0; }

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px); }

@media (min-width: 769px) {
  #createDay {
    background-image: url(/assets/button-crear-gifo.svg);
    height: 54px;
    width: 54px;
    cursor: pointer; } }

#createDay:hover {
  background-image: url(/assets/CTA-crear-gifo-hover.svg);
  height: 54px;
  width: 54px; }

.myGif {
  display: none; }
  @media (min-width: 769px) {
    .myGif {
      display: block; } }

@media (min-width: 769px) {
  .logoMobile {
    display: none; } }

.logoDesktop {
  display: none; }
  @media (min-width: 769px) {
    .logoDesktop {
      display: block;
      cursor: pointer; } }

.logoDarkMobile {
  display: none; }

.logoDarkDesktop {
  display: none; }

#createDark {
  display: none; }

#main {
  padding-bottom: 30px; }

.firstinfo h1 {
  font-family: 'Montserrat-Bold', sans-serif;
  font-size: 25px;
  color: #572EE5;
  text-align: center;
  letter-spacing: 0;
  line-height: 33px;
  margin-left: 40px;
  height: 99px;
  width: 286px;
  margin-top: -10px; }
  @media (min-width: 376px) {
    .firstinfo h1 {
      height: 100px;
      margin-left: 180px;
      margin-top: 20px;
      width: 414px; } }
  @media (min-width: 769px) {
    .firstinfo h1 {
      margin-left: 436px;
      margin-top: 13px;
      font-size: 35px;
      height: 100px;
      width: 580px; } }

.gifos {
  color: #50E3C2; }

.firstinfo img {
  height: 300px;
  width: 300px;
  margin-left: 40px;
  margin-top: -70px; }
  @media (min-width: 376px) {
    .firstinfo img {
      margin-left: 220px; } }
  @media (min-width: 769px) {
    .firstinfo img {
      margin-left: 550px;
      margin-top: -100px; } }

.trendingGif h3 {
  font-family: 'Montserrat-Bold', sans-serif;
  font-size: 16px;
  line-height: 25px;
  color: #572EE5;
  margin-top: -70px;
  text-align: center; }

.trendingGif p {
  font-family: 'Montserrat-Medium', sans-serif;
  font-size: 14px;
  color: #572EE5;
  text-align: center;
  line-height: 25px;
  padding-right: 10px;
  text-transform: capitalize; }
  @media (min-width: 376px) {
    .trendingGif p {
      margin-left: 190px;
      width: 402px; } }
  @media (min-width: 769px) {
    .trendingGif p {
      margin-left: 20px; } }

@media (min-width: 376px) {
  .trendingGif {
    width: 768px; } }
@media (min-width: 376px) {
  .trendingGif {
    width: 100%; } }

#trendingTerms {
  display: flex; }
  @media (min-width: 376px) {
    #trendingTerms {
      display: inline-block; } }
  @media (min-width: 769px) {
    #trendingTerms {
      display: flex;
      justify-content: flex-start; } }

@media (min-width: 769px) {
  .categories {
    padding: 0; } }

.search-input input {
  height: 55px;
  outline: none;
  padding: 0 60px 0 20px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid #572EE5;
  border-radius: 27px;
  width: 330px;
  transform: translate(20px, -82px);
  font-size: 16px; }
  @media (min-width: 376px) {
    .search-input input {
      margin-left: 150px;
      width: 400px; } }
  @media (min-width: 769px) {
    .search-input input {
      margin-left: 420px;
      width: 551px; } }

.search-input .iconsearch {
  line-height: 55px;
  position: absolute;
  right: 40px;
  top: 338px;
  text-align: center; }
  @media (min-width: 376px) {
    .search-input .iconsearch {
      right: 210px;
      top: 370px; } }
  @media (min-width: 769px) {
    .search-input .iconsearch {
      right: 468px;
      top: 332px; } }

#searchbar input::placeholder {
  padding: 10px 0 10px 50px;
  font-family: 'Roboto-Regular', sans-serif;
  font-size: 16px;
  color: #6B7989; }

.btn-icon {
  background: none;
  border: none;
  color: #572EE5;
  padding: 12px 16px;
  font-size: 20px;
  cursor: pointer;
  padding: 0; }

.btn-icon:focus {
  outline: none;
  border: none; }

.containerSearch {
  width: calc(156px * 2 3em);
  margin: auto; }
  @media (min-width: 769px) {
    .containerSearch {
      width: calc(200px * 4 3em);
      margin: auto; } }
  @media (min-width: 769px) {
    .containerSearch p {
      width: 100%; } }

.display_search {
  height: 120px;
  width: 156px;
  margin-bottom: 10px; }
  @media (min-width: 769px) {
    .display_search {
      column-gap: 40px;
      margin-left: 30px;
      height: 200px;
      width: 260px; } }

#searchResults {
  column-gap: 10px;
  margin-left: 20px; }
  @media (min-width: 769px) {
    #searchResults {
      column-gap: 70px;
      margin: auto; } }

#searchTerm {
  font-family: 'Montserrat-Bold', sans-serif;
  font-size: 25px;
  color: #572EE5;
  text-align: center;
  line-height: 40px;
  margin: 20px 0 20px; }
  @media (min-width: 769px) {
    #searchTerm {
      font-size: 35px;
      line-height: 30px; } }

#search-input {
  color: #572EE5; }

.btnNotDisplay,
.hideCross {
  display: none; }

.btnDisplay {
  display: block;
  margin-left: 117px;
  margin-right: auto;
  margin-bottom: 25px;
  border: 1px solid #572EE5;
  border-radius: 25px;
  outline: none;
  background: none;
  font-family: 'Montserrat-Bold', sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #572EE5;
  letter-spacing: 0;
  padding: 16px 30px;
  text-align: center; }

.suggCross,
.likeExp,
.dwnExp {
  display: block;
  background: none;
  border: none;
  color: #572EE5;
  padding: 12px 16px;
  font-size: 20px;
  cursor: pointer; }

.suggCross:focus {
  outline: none;
  border: none; }

.title, .user {
  font-size: 16px;
  font-weight: bold;
  color: #fff; }
  body.dark .title,
  body.dark .user {
    color: #ffffff; }
  .title .user, .user .user {
    position: relative;
    bottom: 65px;
    left: 28px;
    font-size: 15px;
    color: #000000;
    width: 31px;
    height: 18px; }
    body.dark .title .user, body.dark .user .user {
      color: #ffffff; }

.dwnBtn {
  position: relative;
  left: 210px; }

.sizebtn {
  position: relative;
  left: 230px; }

.divCards {
  background: #572ee5;
  box-shadow: 0 0 5px #572ee5;
  opacity: 0.6;
  width: 327px;
  height: 255px;
  position: relative;
  left: 30px;
  top: -270px; }
  @media (max-width: 768px) {
    .divCards {
      display: none; } }

.autcomplete {
  position: relative;
  left: 40px;
  top: -80px; }
  @media (min-width: 769px) {
    .autcomplete {
      left: 460px;
      top: -80px; } }

.divCtnSearch {
  display: inline-block; }

.trendinginfo {
  height: 430px;
  width: 375px; }
  @media (min-width: 376px) {
    .trendinginfo {
      width: 100%; } }
  @media (min-width: 769px) {
    .trendinginfo {
      width: 100%; } }

@media (min-width: 376px) {
  .trendinginfo p {
    transform: translate(190px, 0); } }

.trendinginfo h2 {
  font-family: 'Montserrat-Bold', sans-serif;
  font-size: 20px;
  color: #572EE5;
  text-align: center;
  line-height: 30px;
  margin-top: 0;
  padding-top: 50px; }
  @media (min-width: 769px) {
    .trendinginfo h2 {
      margin-left: -40px; } }

.trendinginfo p {
  font-family: 'Roboto-Regular', sans-serif;
  font-size: 16px;
  color: #000000;
  text-align: center;
  line-height: 23px;
  height: 46px;
  width: 333px;
  margin-bottom: 0;
  margin-left: 20px; }
  @media (min-width: 376px) {
    .trendinginfo p {
      margin-left: 40px; } }
  @media (min-width: 769px) {
    .trendinginfo p {
      margin-left: 350px; } }

.gifodown::after {
  content: "\a";
  white-space: pre; }
  @media (min-width: 376px) {
    .gifodown::after {
      display: inline-block; } }

.trending_gif_display {
  width: 375px; }
  @media (min-width: 376px) {
    .trending_gif_display {
      width: 100%; } }

.trending_gif {
  display: flex;
  overflow: scroll;
  white-space: nowrap; }
  @media (min-width: 376px) {
    .trending_gif {
      width: 85%;
      margin: auto; } }

.display_gif {
  padding: 1em;
  height: 187px;
  width: 243px;
  margin-left: 15px;
  margin-top: 25px; }
  @media (min-width: 769px) {
    .display_gif {
      height: 275px;
      width: 357px; } }

#arrowRight,
#arrowLeft {
  background-color: none;
  border: 1px solid #572EE5;
  color: #572EE5;
  font-size: 20px;
  height: 40px;
  width: 40px;
  outline: none;
  margin: auto; }
  @media (max-width: 769px) {
    #arrowRight,
    #arrowLeft {
      display: none; } }

#arrowLeft:hover,
#arrowRight:hover {
  background-color: #572EE5;
  color: #fff; }

.divCtn {
  height: 275px; }

.ctnTre {
  display: flex; }

.footercont {
  height: 180px;
  width: 375px;
  border-bottom: #572EE5 5px solid; }
  @media (min-width: 376px) {
    .footercont {
      margin-top: -20px;
      width: 768px;
      display: flex;
      justify-content: space-between;
      height: 130px; } }
  @media (min-width: 769px) {
    .footercont {
      width: 100%;
      height: 126px; } }

@media (min-width: 376px) {
  .iconsfoot {
    margin-left: 30px; } }
@media (min-width: 769px) {
  .iconsfoot {
    margin-left: 150px;
    margin-top: 13px; } }

.iconsfoot p {
  font-family: 'Roboto-Regular', sans-serif;
  font-size: 15px;
  color: #000000;
  letter-spacing: 0;
  text-align: center;
  padding-top: 50px;
  margin-top: 0px; }
  @media (min-width: 376px) {
    .iconsfoot p {
      margin-top: 10px; } }

.iconsfoot i {
  text-decoration: none;
  color: #CDD6E0;
  padding-top: 15px;
  transform: translate(150px, 0px);
  padding-right: 10px; }
  @media (min-width: 376px) {
    .iconsfoot i {
      transform: translate(120px, -30px); } }

.textFooter {
  font-family: 'Roboto-Regular', sans-serif;
  font-size: 14px;
  color: #000000;
  letter-spacing: 0;
  line-height: 20px;
  margin-left: 70px;
  padding-top: 30px; }
  @media (min-width: 376px) {
    .textFooter {
      margin-right: 30px;
      margin-top: 30px; } }
  @media (min-width: 769px) {
    .textFooter {
      margin-right: 230px;
      margin-top: 13px; } }

.dark-mode {
  background-color: #37383C;
  transition: background-color .2s; }
  @media (min-width: 769px) {
    .dark-mode .nav-links a {
      color: #fff; } }
  .dark-mode .firstinfo h1 {
    color: white; }
    @media (min-width: 376px) {
      .dark-mode .firstinfo h1 {
        margin-top: -1px; } }
  @media (min-width: 376px) {
    .dark-mode .search-input .iconsearch {
      right: 221px;
      top: 351px; } }
  @media (min-width: 769px) {
    .dark-mode .search-input .iconsearch {
      right: 478px;
      top: 320px; } }
  .dark-mode .search-input input {
    color: #fff; }
  .dark-mode .burger .line1,
  .dark-mode .burger .line2,
  .dark-mode .burger .line3 {
    background-color: #fff; }
  .dark-mode .btn-icon {
    color: #fff; }
  .dark-mode #searchbar input {
    border: 1px solid #FFFFFF;
    border-radius: 27px;
    background-color: #37383C; }
  @media (max-width: 768px) {
    .dark-mode .nav-links {
      background-color: #000000; } }
  .dark-mode .logoMobile {
    display: none; }
  .dark-mode .logoDarkMobile {
    display: block; }
    @media (min-width: 769px) {
      .dark-mode .logoDarkMobile {
        display: none; } }
  .dark-mode .logoDesktop {
    display: none; }
  .dark-mode .logoDarkDesktop {
    display: none; }
    @media (min-width: 769px) {
      .dark-mode .logoDarkDesktop {
        display: block; } }
  .dark-mode .logoDesktopCreate {
    display: none; }
  .dark-mode .logoDarkDesktop {
    margin-left: 100px; }
  .dark-mode .trendingGif h3,
  .dark-mode .trendingGif p {
    color: #ffffff; }
  .dark-mode .iconsfoot p,
  .dark-mode .textFooter p {
    color: white; }
  .dark-mode .footercont {
    border-bottom: #000 5px solid; }
  @media (min-width: 376px) {
    .dark-mode .menuNavigation {
      border-top: #000 4px solid; } }
  @media (min-width: 769px) {
    .dark-mode #createDay {
      display: none; } }
  @media (min-width: 769px) {
    .dark-mode #createDark {
      background-image: url(/assets/CTA-crear-gifo-modo-noc.svg);
      display: block;
      height: 54px;
      width: 54px; } }
  .dark-mode #createDark:hover {
    background-image: url(/assets/CTA-crear-gifo-hover-modo-noc.svg);
    height: 54px;
    width: 54px; }
  .dark-mode .cameraImgDark {
    display: block;
    margin-left: 80px;
    margin-top: 150px;
    height: 200px;
    width: 120px; }
  .dark-mode .cameraImg {
    display: none; }
  .dark-mode .cameraLight {
    margin-left: -4px;
    margin-bottom: 34px; }
  .dark-mode .borderpurple {
    background-color: #fff; }
  .dark-mode .titleGif h1,
  .dark-mode .stepbystep,
  .dark-mode #snap,
  .dark-mode .bigBox,
  .dark-mode .bigBox h2 {
    border-color: #fff;
    color: #fff; }
  .dark-mode .greenBox::before {
    border: 1px solid #37383C; }
  .dark-mode .filmNight {
    display: block; }
  .dark-mode .filmDay {
    display: none; }

.dark-modeTrending .trendinginfo {
  background: #222326;
  color: white;
  transition: background-color .2s; }
.dark-modeTrending .trendinginfo h2,
.dark-modeTrending .trendinginfo p {
  color: #ffffff; }

.day-modeTrending {
  background: #F3F5F8;
  transition: background-color .2s; }

@media (min-width: 769) {
  .day-mode .nav-links a {
    color: #572EE5; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.logoDesktopCreate {
  margin-left: 100px; }

.camera {
  float: left; }

.bigCtn {
  padding-top: 70px; }

.bigBox {
  border: 1px solid #572EE5;
  height: 390px;
  width: 688px;
  margin-left: 380px; }
  .bigBox .textBox {
    padding-top: 100px; }
  .bigBox h2 {
    padding-left: 100px;
    color: #572EE5;
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 25px;
    text-align: center;
    line-height: 35px;
    height: 70px;
    width: 550px;
    z-index: 2; }
  .bigBox p {
    font-family: 'Robot-Regular', sans-serif;
    font-size: 16px;
    line-height: 29px;
    text-align: center; }
  .bigBox .wordColor {
    color: #50E3C2; }
  .bigBox .wordDown::after {
    content: "\a";
    white-space: pre; }

.cameraImg {
  margin-left: 80px;
  margin-top: 150px;
  height: 200px;
  width: 120px; }

.cameraImgDark {
  display: none; }

.cameraLight {
  margin-left: -4px;
  margin-bottom: 34px; }

.greenBox {
  position: relative;
  margin: 8px 10px;
  width: 668px;
  height: 370px;
  border: 1px solid #50E3C2; }

.greenBox:before {
  content: '';
  position: absolute;
  top: -1px;
  left: -1px;
  border: 1px solid #fff;
  height: 100%;
  width: 100%;
  border-radius: 10%; }

.borderpurple {
  margin: 10px;
  background-color: #572EE5;
  border-radius: 20px;
  width: 750px;
  height: 5px;
  margin-left: 350px; }

.stepbystep {
  display: inline-block;
  border: #572EE5 1px solid;
  border-radius: 50%;
  background-color: transparent;
  padding: 10px;
  margin-left: 20px;
  width: 32px;
  height: 32px;
  font-size: 18px;
  font-family: 'Robot', sans-serif;
  color: #572EE5; }

#snap:hover,
.stepbystep:hover,
.hoverStep {
  background-color: #572EE5;
  color: #fff; }

.textBtn {
  text-align: center;
  line-height: 1px; }

.film {
  float: right; }

.filmNight {
  display: none; }

.stepCtn {
  margin-top: 20px;
  margin-left: 620px; }

.btnVideo {
  display: flex;
  justify-content: center; }

#snap,
#record,
#endVideo,
#upload {
  background-color: transparent;
  border: #572EE5 1px solid;
  border-radius: 20px;
  color: #572EE5;
  font-size: 13px;
  padding: 10px;
  margin-top: 20px;
  cursor: pointer; }

#record,
#endVideo,
#upload,
#snapAgain {
  display: none;
  cursor: pointer; }

.captureVideo {
  position: relative;
  top: -100px;
  left: -31px; }

#tiempo-repetir {
  font-family: 'Montserrat-Bold', sans-serif;
  font-size: 15px;
  color: #572EE5;
  letter-spacing: 0;
  text-align: end;
  line-height: 22px;
  position: relative;
  top: -40px; }

#snapAgain {
  background: none;
  color: #572EE5;
  position: relative;
  top: -115px;
  left: 1000px;
  font-size: 13px;
  color: #572EE5;
  border: none;
  outline: none;
  cursor: pointer; }
  #snapAgain:hover {
    border-bottom: 2px solid #5ED7C6; }

#savedGif {
  display: none; }

.purple_screen {
  opacity: 0.6;
  background: #572EE5;
  height: 346px;
  width: 480px;
  position: relative;
  top: -430px;
  width: 517px;
  left: 86px; }

.text_screen {
  font-size: 15px;
  color: #FFF;
  text-align: center;
  position: relative;
  top: 190px; }

.spinner {
  position: relative;
  top: 120px;
  left: 250px; }

#savedGif {
  display: none;
  width: 515px;
  position: relative;
  top: -84px;
  left: 87px; }

.btnCtnP {
  position: relative;
  left: 420px; }

.lnkBtn {
  margin-left: 5px; }
  .lnkBtn:hover {
    background-image: url("/assets/icon-link-hover.svg"); }

.dwnBtnP:hover {
  background-image: url("/assets/icon-download-hover.svg"); }

.titleGif {
  width: 100%;
  text-align: center; }
  .titleGif h1 {
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 25px;
    color: #572EE5;
    text-align: center;
    line-height: 30px; }
  .titleGif p {
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 22px;
    color: #50E3C2;
    text-align: center;
    line-height: 25px;
    padding-top: 20px;
    padding-bottom: 40px; }

@media (max-width: 768px) {
  .noGif {
    display: none; } }

@media (max-width: 768px) {
  .myFav {
    display: none; } }

.img_gif {
  height: 200px;
  width: 260px;
  padding-left: 30px; }

.divGifMCtn {
  display: inline-block; }

.divCardsFav {
  background: #572ee5;
  box-shadow: 0 0 5px #572ee5;
  opacity: 0.6;
  width: 230px;
  height: 200px;
  position: relative;
  left: 30px;
  top: -204px; }
  @media (max-width: 768px) {
    .divCardsFav {
      display: none; } }

.lkeBtnFavs {
  background-image: url("/assets/icon-fav-active.svg") no-repeat; }

/*# sourceMappingURL=main.css.map */
