.logoDesktopCreate {
    margin-left: 100px;
}

.bigBox {
    border: 1px solid #572EE5;
    float: right;
    height: 390px;
    width: 688px;
    margin-right: 380px;
    margin-top: 40px;

    h2{
       
        color: #572EE5;
        font-family: 'Montserrat-Bold', sans-serif;
        font-size: 25px;
        text-align: center;
        line-height: 35px;
        height: 70px;
        width: 550px;
    }

    .wordColor {
        color: #50E3C2;
    }

    .wordDown::after {
        content: "\a";
        white-space: pre;
    }
} 

.camera {
    float: left;
}

.cameraImg {
    margin-left: 80px;
    margin-top: 150px;
    height: 120px;
    width: 120px;
}

.cameraLight {
    margin-left: -4px;
    margin-bottom: 24px;
}
