.dark-mode {
    //darkmode general
    background-color:#37383C;
    transition: background-color .2s; 

    .nav-links {
        a {
            @media (min-width: 769px) {
                color: #fff;
            }
        }    
    }

    .firstinfo {
        h1 {
            color: white;

            @media (min-width: 376px) {
                margin-top: -1px;
            }
        }
    }

    .search-input .iconsearch {

        @media (min-width: 376px) {
            right: 221px;
            top: 351px;
            
        }

        @media (min-width: 769px) {
            right: 478px;
            top: 320px;
    }
    }
    .search-input input {
        color: #fff
    }

    .burger {
        .line1,
        .line2,
        .line3 {
            background-color: #ffffff;
        }
    }

    .btn-icon {
        color: white;
    }
    #searchbar input {
        border: 1px solid #FFFFFF;
        border-radius: 27px;
        background-color: #37383C;
    }

    @media (max-width: 768px) {
        .nav-links {
            background-color: #000000;
        }
    }

    //logos gifos
    .logoMobile{
        display:none;
    }

    .logoDarkMobile {
        display: block;
        @media (min-width: 769px) {
            display: none;
        }
    }

    .logoDesktop{
        display:none;
    }

    .logoDarkDesktop {
        display: none;
        @media (min-width: 769px) {
            display: block;
        }
        
    }

    .logoDesktopCreate {
        display: none;
    }
    
    .logoDarkDesktop {
        margin-left: 100px;
    }

    .trendingGif {
        h3,
        p{
            color: #ffffff;
        }
    }

 

    .iconsfoot,
    .textFooter {
        p {
            color: white;
        }
    }

    .footercont {
        border-bottom: #000 5px solid;
    }

    .menuNavigation {
        @media (min-width: 376px) {
            border-top: #000 4px solid;
        }
    }

//boton crear gif
    #createDay {
        @media (min-width: 769px) {
            display: none;
        }
    }

    #createDark {
        
        @media (min-width: 769px) {
            background-image: url(/assets/CTA-crear-gifo-modo-noc.svg);
            display: block;
            height: 54px;
            width: 54px;
        }
    }

    #createDark:hover {
        background-image: url(/assets/CTA-crear-gifo-hover-modo-noc.svg);
        height: 54px;
        width: 54px;
    }



    //CreateGif

    .cameraImgDark {
        display: block;
        margin-left: 80px;
        margin-top: 150px;
        height: 200px;
        width: 120px;
    }

    .cameraImg {
        display: none;
    }

    .cameraLight {
        margin-left: -4px;
        margin-bottom: 34px;
    }

    .borderpurple {
        background-color: #fff;
    }

    .titleGif h1,
    .stepbystep,
    #snap,
    .bigBox,
    .bigBox h2 {
        border-color: #fff;
        color: #fff;
    }

    .greenBox::before{
        border:1px solid #37383C;
    }

    .filmNight {
        display: block;
    }
    .filmDay {
        display: none;
    }

}

//Trending Section
.dark-modeTrending {
    .trendinginfo{
        background: #222326;
        color: white;
        transition: background-color .2s; // hacer un keyframe?
    }   
    .trendinginfo {
        h2,
        p{
            color: #ffffff;
        }
    }
}