
#main {
    padding-bottom: 30px;
}

.firstinfo h1 {
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 25px;
    color: #572EE5;
    text-align: center;
    letter-spacing: 0;
    line-height: 33px;
    margin-left: 40px;
    height: 99px;
    width: 286px;
    margin-top: -10px;

    @media (min-width: 376px) {
        height: 100px;
        margin-left: 180px;
        margin-top: 20px;
        width: 414px;
    }

    @media (min-width: 769px) {
        margin-left: 436px;
        margin-top: 13px;
        font-size: 35px;
        height: 100px;
        width: 580px;
    }
}

.gifos {
    color: #50E3C2;
}

.firstinfo img {
    height: 300px;
    width: 300px;
    margin-left: 40px;
    margin-top: -70px;

    @media (min-width: 376px) {
        margin-left: 220px;
    }

    @media (min-width: 769px) {
        margin-left: 550px;
        margin-top: -100px;
    }
}

   
.trendingGif h3 {
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 16px;
    line-height: 25px;
    color: #572EE5;
    margin-top: -70px;
}

.trendingGif p {
    font-family: 'Montserrat-Medium', sans-serif;
    font-size: 14px;
    color: #572EE5;
    text-align: center;
    line-height: 25px;
    padding-right: 10px;
    text-transform: capitalize;

    @media (min-width: 376px) {
       margin-left: 190px;
        width: 402px;
    }
    
    @media (min-width: 769px) {
        margin-left: 520px;
        
    }
}
.trendingGif {
    @media (min-width: 376px) {
        width: 768px;
    }
}

#trendingTerms {
    display: flex;
     
    @media (min-width: 376px) {
        display: inline-block;
    }
    
}

//barra

.search-input input {

    height: 55px;
    outline: none;
    border: none;
    padding: 0 60px 0 20px;
    font-size: 10px;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
    border: 1px solid #572EE5;
    border-radius: 27px;
    width: 330px;
    transform: translate(20px, -82px);
    font-size: 16px;

    @media (min-width: 376px) {
        margin-left: 150px;
        width: 400px;
        
    }

    @media (min-width: 769px) {
        margin-left: 420px;
        width: 551px;
        
    }

}


.search-input .iconsearch {
    line-height: 55px;
    position: absolute;
    right: 40px;
    top: 338px;
    text-align: center;
    

    @media (min-width: 376px) {
        right: 210px;
        top: 370px;
        
    }

}

#searchbar input::placeholder {
    padding: 10px 0 10px 50px;
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 16px;
    color: #6B7989;
}
//Boton-icono barra
.btn-icon {
    background: none;
    border: none;
    color: #572EE5;
    padding: 12px 16px;
    font-size: 20px;
    cursor: pointer;
    padding: 0;
}

.btn-icon:focus {
    outline: none;
    border: none;
    
}

//Parte de resultados de busqueda
.containerSearch {
    width: calc(156px * 2+ 3em);
    margin: auto;
}


.display_search {
    height: 120px;
    width: 156px;
    margin-bottom: 10px;
}

#searchResults {
    columns: 2;
    column-gap: 4px;
    margin-left: 22px;
}