body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main {
    padding-bottom: 30px;
}

.firstinfo h1 {
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 25px;
    color: #572EE5;
    text-align: center;
    letter-spacing: 0;
    line-height: 33px;
    margin-left: 40px;
    height: 99px;
    width: 286px;
    margin-top: -10px;

    @media (min-width: 376px) {
        height: 100px;
        margin-left: 180px;
        margin-top: 20px;
        width: 414px;
    }

    @media (min-width: 769px) {
        margin-left: 436px;
        margin-top: 13px;
        font-size: 35px;
        height: 100px;
        width: 580px;
    }
}

.gifos {
    color: #50E3C2;
}

.firstinfo img {
    height: 300px;
    width: 300px;
    margin-left: 40px;
    margin-top: -70px;

    @media (min-width: 376px) {
        margin-left: 220px;
    }

    @media (min-width: 769px) {
        margin-left: 550px;
        margin-top: -100px;
    }
}

.searchicon {
    background-image: url('../assets/icon-search.svg');
    background-repeat: no-repeat;
    background-position: 290px 14px;

    @media (min-width: 376px) {
        background-position: 350px 14px;
    }

    @media (min-width: 769px) {
         background-position: 500px 14px;
    }
}


#searchbar input {
    border: 1px solid #572EE5;
    border-radius: 27px;
    padding: 15px 0;
    width: 330px;
    transform: translate(20px, -82px);

    @media (min-width: 376px) {
        margin-left: 150px;
        width: 400px;
        
    }

    @media (min-width: 769px) {
        margin-left: 420px;
        width: 551px;
        
    }
}

#searchbar input::placeholder {
    padding: 10px 0 10px 50px;
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 16px;
    color: #6B7989;
}





.trendingGif h3 {
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 16px;
    text-align: center;
    line-height: 25px;
    color: #572EE5;
    margin-top: -70px;
}

.trendingGif p {
    font-family: 'Montserrat-Medium', sans-serif;
    font-size: 14px;
    color: #572EE5;
    text-align: center;
    line-height: 25px;
    height: 50px;
    width: 225px;
    margin-top: -10px;
    margin-left: 70px;

    @media (min-width: 376px) {
       margin-left: 190px;
        width: 402px;
    }
    
    @media (min-width: 769px) {
        margin-left: 520px;
        
    }
}
