
#main {
    padding-bottom: 30px;
}

.firstinfo h1 {
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 25px;
    color: #572EE5;
    text-align: center;
    letter-spacing: 0;
    line-height: 33px;
    margin-left: 40px;
    height: 99px;
    width: 286px;
    margin-top: -10px;

    @media (min-width: 376px) {
        height: 100px;
        margin-left: 180px;
        margin-top: 20px;
        width: 414px;
    }

    @media (min-width: 769px) {
        margin-left: 436px;
        margin-top: 13px;
        font-size: 35px;
        height: 100px;
        width: 580px;
    }
}

.gifos {
    color: #50E3C2;
}

.firstinfo img {
    height: 300px;
    width: 300px;
    margin-left: 40px;
    margin-top: -70px;

    @media (min-width: 376px) {
        margin-left: 220px;
    }

    @media (min-width: 769px) {
        margin-left: 550px;
        margin-top: -100px;
    }
}

   
.trendingGif h3 {
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 16px;
    line-height: 25px;
    color: #572EE5;
    margin-top: -70px;
    text-align: center;

    
}

.trendingGif p {
    font-family: 'Montserrat-Medium', sans-serif;
    font-size: 14px;
    color: #572EE5;
    text-align: center;
    line-height: 25px;
    padding-right: 10px;
    text-transform: capitalize;

    @media (min-width: 376px) {
       margin-left: 190px;
        width: 402px;
    }
    
    @media (min-width: 769px) {
        margin-left: 20px
        
    }
}
.trendingGif {
    @media (min-width: 376px) {
        width: 768px;
    }

    @media (min-width: 376px) {
        width: 100%;
    }
}

#trendingTerms {
    display: flex;
     
    @media (min-width: 376px) {
        display: inline-block;
    }
    @media (min-width: 769px) {
        display: flex;
        justify-content: flex-start;
    }
   
    
}

.categories {
    @media (min-width: 769px) {
       padding: 0;
    }
}



//barra

.search-input input {

    height: 55px;
    outline: none;
    padding: 0 60px 0 20px;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
    border: 1px solid #572EE5;
    border-radius: 27px;
    width: 330px;
    transform: translate(20px, -82px);
    font-size: 16px;

    @media (min-width: 376px) {
        margin-left: 150px;
        width: 400px;
        
    }

    @media (min-width: 769px) {
        margin-left: 420px;
        width: 551px;
        
    }

}


.search-input .iconsearch {
    line-height: 55px;
    position: absolute;
    right: 40px;
    top: 338px;
    text-align: center;
    

    @media (min-width: 376px) {
        right: 210px;
        top: 370px;
        
    }

    @media (min-width: 769px) {
        right: 468px;
        top: 332px;
        
    }

}

#searchbar input::placeholder {
    padding: 10px 0 10px 50px;
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 16px;
    color: #6B7989;
}
//Boton-icono barra
.btn-icon {
    background: none;
    border: none;
    color: #572EE5;
    padding: 12px 16px;
    font-size: 20px;
    cursor: pointer;
    padding: 0;
}

.btn-icon:focus {
    outline: none;
    border: none;
    
}

//Parte de resultados de busqueda
.containerSearch {
    width: calc(156px * 2 3em);
    margin: auto;

    @media (min-width: 769px) {
        width: calc(200px * 4 3em);
        margin: auto;
    }

    p {
        @media (min-width: 769px) {
            width: 100%;
        }
        
    }
}


.display_search {
    height: 120px;
    width: 156px;
    margin-bottom: 10px;
}

#searchResults {
    
    column-gap: 10px;
    margin-left: 20px;

    @media (min-width: 769px) {
       
        column-gap: 40px;
    }
}

#searchTerm {
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 25px;
    color: #572EE5;
    text-align: center;
    line-height: 40px;
    margin: 20px 0 20px;

    @media (min-width: 769px) {
        font-size: 35px;
        line-height: 30px;
    }
}

// #searchTerm::before {
//     content : "";
//     display: block;
//     height  : 1px;
//     width   : 150px;  
//     background-color: #9CAFC3;
//     margin: 10px auto;
//     margin-top: 20px;
// }


#search-input {
    color: #572EE5
}

.btnNotDisplay,
.hideCross {
    display: none;
}

.btnDisplay {
    display: block;
    margin-left: 117px;
    margin-right: auto;
    margin-bottom: 25px;
    border: 1px solid #572EE5;
    border-radius: 25px;
    outline: none;
    background: none;
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: #572EE5;
    letter-spacing: 0;
    padding: 16px 30px;
    text-align: center;
}


.suggCross {
    display: block;
    background: none;
    border: none;
    color: #572EE5;
    padding: 12px 16px;
    font-size: 20px;
    cursor: pointer;
  
}

.suggCross:focus {
    outline: none;
    border: none;
    
}



//gif mouseover
.title {
    margin-top: 193px;
    margin-left: 30px;
    
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    width: 94px;
    height: 19px;
    body.dark & {
      color: #ffffff;
}
  
.user {
    position: relative;
    bottom: 65px;
    left: 28px;
    font-size: 15px;
    color: #000000;
    width: 31px;
    height: 18px;
    body.dark & {
      color: #ffffff;
      
    }
}}

.dwnBtn,
.divCards {
    position: relative;
    top: -80px;
    left: 320px;
    opacity: 0.5;
    border: 1px solid #9cafc3;
    border-radius: 6px;
}

.divCards {
    background: #572ee5;
    box-shadow: 0 0 5px #572ee5;
    opacity: 0.6; 
    width: 200px;
    
}

//sugg
.autcomplete {
    position: relative;
    left: 40px;
    top: -80px;

    @media (min-width: 769px) {
        left: 460px;
        top: -80px;
    }

}

// #pSugg {
//  overflow: hidden;
//  cursor: pointer;
//  width: 100%;
//  color: #000;
//  font-family: 'Roboto-Regular', sans-serif;
//  font-size: 16px;
//  position: relative;
// }

// #searchSugg {
//     width: 300px;
//     border-top: 1px solid #9CAFC3;
//     opacity: 0.5;
//     margin-left: 20px;
//     padding-top: 10px;
//     height: 0.5px;
// }