.footercont {
    height: 196px;
    width: 375px;
    border-bottom: #572EE5 5px solid;
    
}

.iconsfoot p {
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 15px;
    color: #000000;
    letter-spacing: 0;
    text-align: center;
    padding-top: 50px;
    margin-top: 0px;
}



.iconsfoot i {
    text-decoration:none;
    color: #CDD6E0;
    padding-top: 15px;
    transform: translate(150px, 0px);
    padding-right: 10px;
}

.textFooter {
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 14px;
    color: #000000;
    letter-spacing: 0;
    line-height: 20px;
    margin-left: 70px;
    padding-top: 30px;
}