* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    z-index: 1;
}


.nav-links {
    display: flex;
    justify-content: space-around;
    width: 40%; 
    font-family: 'Montserrat-Bold', sans-serif;
}

.nav-links li {
    list-style: none;
    
    
}
.nav-links a {
    color: #572EE5;
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 13px;
    font-weight: bold;
}


.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: #572EE5;
    margin: 5px;
    transition: all 0.3s ease; 
}

@media screen and (max-width: 1024px) {
    .nav-links {
        width: 60%;
    }
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden; 
    }

   .nav-links {
        position: absolute;
        right: 0px; 
        height: 484px;
        top: 8vh;
        background-color: rgba(87, 46, 229, 0.9);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%; 
        transform: translateX(100%);
        transition: transform 0.5s ease-in;  
        justify-content: flex-start;
            
   }

  .nav-links li {
    margin-bottom: 10px; 
    margin-top: 30px;
  }

  

   .nav-links a {
    color: white;
   }

   .nav-links a::after {
    content : "";
    display: block;
    height  : 1px;
    width   : 40px;  
    background-color: #ffffff;
    margin: 10px auto;
    margin-top: 20px;
   }

   .burger {
       display: block;
   }
}

.nav-active {
    transform: translateX(0%); 
}

@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

.dark-mode {
    
    background-color:#37383C;
    
    transition: background-color .2s; 
    .firstinfo {
        h1 {
            color: white;
        }
    }

    .burger {
        .line1,
        .line2,
        .line3 {
            background-color: #ffffff;
        }
    }

    .searchicon {
        background-color: white;
    }
    #searchbar input {
        border: 1px solid #FFFFFF;
        border-radius: 27px;
        background-color: #37383C;
    }

    @media (max-width: 768px) {
        .nav-links {
            background-color: #000000;
        }
    }

    .logoMobile{
        display:none;
    }

    .logoDarkMobile {
        display: block;
    }

    .trendingGif {
        h3,
        p{
            color: #ffffff;
        }
    }

    .trendinginfo {
        h2,
        p{
            color: #ffffff;
        }
    }

    .iconsfoot,
    .textFooter {
        p {
            color: white;
        }
    }

    .footercont {
        border-bottom: #000000 5px solid;
    }
}



.myGif {
    display: none;

    @media (min-width: 376px) {
        display: block;
        margin-top: 5px;
        
    }
}


.logoMobile {
    @media (min-width: 769px) {
        display: none;
    }
}

.logoDarkMobile {
    display: none;
}

.logoDesktop {
    display: none;

    @media (min-width: 769px) {
        display: block;
        cursor: pointer;
    }

}