* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    z-index: 1;
}

.menuNavigation {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 95px;
    width: 100%;
   
    @media (min-width: 376px) {
        margin-right: 10px;
        border-top: #572EE5 4px solid;
    }

    @media (min-width: 769px) {
        margin-right: 150px;
    }
}

.menuNavigation_logo {
   height: 48.8px;
   width: 48.8px;
   margin-left: 10px;
   margin-bottom: 30px;
    

    @media (min-width: 376px) {
        left: 20px;
        top: 10px

    }
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 40%; 
    font-family: 'Montserrat-Bold', sans-serif;
}

.nav-links li {
    list-style: none;
    
    
}
.nav-links a {
    
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 13px;
    font-weight: bold;

    @media (min-width: 769px) {
        color: #572EE5;
    }
}

.nav-links a:visited,
.nav-active a:focus {
    @media (min-width: 769px) {
        text-decoration: none;
        color: #572EE5;
    }
    
}





.burger {
    display: none;
    cursor: pointer;
    margin-bottom: 30px;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: #572EE5;
    margin: 5px;
    transition: all 0.3s ease; 
}


@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden; 
    }

   .nav-links {
        position: fixed;
        right: 0px; 
        height: 484px;
        top: 8vh;
        background-color: rgba(87, 46, 229, 0.9);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%; 
        transform: translateX(100%);
        transition: transform 0.5s ease-in;  
        justify-content: flex-start;
            
   }

  .nav-links li {
    margin-bottom: 10px; 
    margin-top: 30px;
  }

  

   .nav-links a {
    color: white;
   }

   .nav-links a::after {
    content : "";
    display: block;
    height  : 1px;
    width   : 40px;  
    background-color: #ffffff;
    margin: 10px auto;
    margin-top: 20px;
   }

   .burger {
       display: block;
   }
}
//vaya a la izquierda
.nav-active {
    transform: translateX(0%); 
}

@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
//para hacer la X
.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

#createDay {
    @media (min-width: 769px) {
        background-image: url(/assets/button-crear-gifo.svg);
        height: 54px;
        width: 54px;
        cursor: pointer;
    }
}

#createDay:hover {

        background-image: url(/assets/CTA-crear-gifo-hover.svg);
        height: 54px;
        width: 54px;
    
}


.myGif {
    display: none;
    @media (min-width: 769px) {
        display: block;
    }
}

//logos
.logoMobile {
    @media (min-width: 769px) {
        display: none;
    }
}

.logoDesktop {
    display: none;

    @media (min-width: 769px) {
        display: block;
        cursor: pointer;
    }
}

.logoDarkMobile {
    display: none;
}


.logoDarkDesktop {
    display: none;
}

//create button
#createDark {
    display: none;
}
