.titleGif {
    text-align: center;
    h1 {
        font-family: 'Montserrat-Bold', sans-serif;
        font-size: 25px;
        color: #572EE5;
        text-align: center;
        line-height: 30px;
    }

    .imgBig {
        padding-top: 70px;
    }

    p {
        font-family: 'Montserrat-Bold', sans-serif;
        font-size: 22px;
        color: #50E3C2;
        text-align: center;
        line-height: 25px;
        padding-top: 20px;
        padding-bottom: 40px;
    }
}