.titleGif {
    width: 100%;
    text-align: center;
    h1 {
        font-family: 'Montserrat-Bold', sans-serif;
        font-size: 25px;
        color: #572EE5;
        text-align: center;
        line-height: 30px;
    }

    p {
        font-family: 'Montserrat-Bold', sans-serif;
        font-size: 22px;
        color: #50E3C2;
        text-align: center;
        line-height: 25px;
        padding-top: 20px;
        padding-bottom: 40px;
    }
}


.noGif {
    @media (max-width: 768px) {
        display: none;
    }
}

.myFav {
    @media (max-width: 768px) {
        display: none;
    }
}

