.trendinginfo {
    height: 430px;
    width: 375px;
    
    @media (min-width: 376px) {
        margin-left: 180px;
    }
    @media (min-width: 769px) {
        width: 100%;
    }
}

.trendinginfo h2 {
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 20px;
    color: #572EE5;
    text-align: center;
    line-height: 30px;
    margin-top: 0;
    padding-top: 50px;

    @media (min-width: 769px) {
        margin-left: -400px;
    }
}

.trendinginfo p {
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 16px;
    color: #000000;
    text-align: center;
    line-height: 23px;
    height: 46px;
    width: 333px;
    margin-bottom: 0;

    @media (min-width: 376px) {
        margin-left: 40px;
    }

    @media (min-width: 769px) {
        margin-left: 350px;
    }
}

.gifodown::after {
    content: "\a";
    white-space: pre;

    @media (min-width: 376px) {
        display: inline-block;
    }
}



.day-modeTrending {
    background: #F3F5F8;
    transition: background-color .2s;
}

.dark-modeTrending {
    background: #222326;
    color: white;
    transition: background-color .2s; // hacer un keyframe?
}
