.trendinginfo h2 {
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 20px;
    color: #572EE5;
    text-align: center;
    line-height: 30px;
}

.trendinginfo p {
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 16px;
    color: #000000;
    text-align: center;
    line-height: 23px;
    height: 46px;
    width: 333px;
}